<%- include("parts/header.ejs") %> <%- include("parts/nav.ejs") %>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-primary text-white">
          <h4 class="text-center">Login</h4>
        </div>
        <div class="card-body">
          <form action="/login" method="POST">
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                placeholder="Enter your email"
              />
            </div>
            <% let emailError = validation.find(err=>err.path==='email') %>
            <%if(emailError){%>
            <p class="alert alert-danger"><%=emailError.msg%></p>
            <% } %>

            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                placeholder="Enter password"
              />
            </div>
            <% let passError = validation.find(err=>err.path==='password') %>
            <%if(passError){%>
            <p class="alert alert-danger"><%=passError.msg%></p>
            <% } %>

            <div class="d-grid">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
          <% if (authError) { %>
          <p class="alert alert-danger mt-3"><%= authError %></p>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>
